﻿@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<canvas id="SliderCanvas" width="540" height="540" style=""></canvas>
<img src="~/Content/Picture.png" id="picture"/>
<script src="~/JS/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="~/JS/PictureSlider.js" type="text/javascript"></script>
