﻿@model int
@{
    ViewBag.Title = "Create A New Post";
}

<form method="post" action="@Url.Action("Create","Post")">
    <p>
        <textarea name ="Message" rows="4" cols="50" placeholder="Enter Post"></textarea>
        <input required type ="text"/>
    </p>
    <input type="submit" value="Post" />
</form>

