﻿@model IEnumerable<ProjectOSG.Models.Post>

@{
    
}
<h2 class="threadTitle">@ViewBag.Title</h2>
@{Html.RenderPartial("~/Views/Shared/Partial/_PostsPartial.cshtml", @Model);}
@if (@Model != null)
{
    <form method="post" action="@Url.Action("Create", "Post", new { threadId = @ViewBag.ThreadId })">
        <p>
            <textarea class="textResponse" name="Message" rows="4"  placeholder="Enter Post"></textarea>
        </p>
        <input type="submit" value="Post" />
    </form>

}