﻿@{
    ViewBag.Title = "Create A New Thread";
}

<form method="POST" action="@Url.Action("Create","Thread")">
    @{Html.RenderPartial("~/Views/Shared/Partial/_ThreadInputPartial.cshtml");}
    <input  type ="submit" value ="Create Thread"/>
</form>