﻿@model IEnumerable<ProjectOSG.Models.Thread>

@{

}
<h4>
    <a id="createThread" href ="@Url.Action("Create", "Thread")">Create Thread</a>
</h4>
@{Html.RenderPartial("~/Views/Shared/Partial/_ThreadsPartial.cshtml", @Model);}