﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title> Engine </title>

    <script type="text/javascript" src="~/WebGL/scripts/jquery.js"></script>
    <script type="text/javascript" src="~/WebGL/glMatrix/dist/gl-matrix.js"></script>
    <script type="text/javascript" src="~/WebGL/scripts/glMatrix-0.9.5.min.js"></script>
    <script type="text/javascript" src="~/WebGL/scripts/vec3.js"></script>
    <script type="text/javascript" src="~/WebGL/scripts/Face.js"></script>
    <script type="text/javascript" src="~/WebGL/scripts/utils.js"></script>
    <script type="text/javascript" src="~/WebGL/scripts/Camera.js"></script>
    <script type="text/javascript" src="~/WebGL/scripts/FreeCamera.js"></script>
    <script type="text/javascript" src="~/WebGL/scripts/KeyBoardInteractor.js"></script>
    <script type="text/javascript" src="~/WebGL/scripts/MouseInteractor.js"></script>
    
    <script src="~/WebGL/scripts/Geometry.js"></script>
    <script type="text/javascript" src="~/WebGL/scripts/SceneObject.js"></script>
    <script type="text/javascript" src="~/WebGL/scripts/Scene.js"></script>
    <script type="text/javascript" src="~/WebGL/scripts/Light.js"></script>    
    <script type="text/javascript" src="~/WebGL/scripts/Lights.js"></script>
    <script type="text/javascript" src ="/WebGL/scripts/webGLInit.js"></script>
    <link rel="stylesheet" href="~/WebGL/css/glStyle.css" />
    
    
    <script type="text/javascript" src="~/WebGL/scripts/parseJSON.js"></script>



</head>

<body>
    <canvas id="squareWithDrawArrays"></canvas>
    <select id="objectSelect"  onchange="objectChanged()">
        <option value="cube">Cube</option>
        <option value="sphere">Sphere</option>
        <option value="cylinder">Cylinder</option>
        <option value="monkey">Monkey</option>
    </select>
    <div id="body">
        <div id="vs"></div>
        <div id="fs"></div>
    </div>
</body>
</html>


