﻿/**
    red : a11
    white : FFF
    black : 000
    grey : ebebeb
    */


.scrollTextArea {
    overflow: auto;
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0;
    resize: none;
    border: none;
    direction: ltr;
}
.AcceptFriend {
    color:green;
    float:right;
}
.removeFriend {
    color:red;
    float:right;
}
.thumbsUpLink {
    float:left;
}


.addThread {
color:green;
}

body {
    background: #EBEBEB;
    color: #a11;
}

.textResponse,
.titleResponse {
    width: 100%;
}

.threadTitle {
    text-align: center;
}

.addPost {
    text-align: right;
}

.postDate {
    float: right;
    position: relative;
}

.profileUsername {
    text-align: center;
}

.profileFriend {
    margin-right: 5%;
}

.postTextArea {
    width: 90%;
    height: auto;
    overflow: hidden;
    resize: none;
    border: none;
    margin-left: 2%;
    margin-right: 2%;
}

.panel.panel-default.postContainer {
    margin-bottom: 7%;
}

.postMessage {
    margin-left: 2%;
    margin-right: 2%;
    width: 90%;
    height: auto;
    overflow: hidden;
    resize: none;
    border: none;
}

#messageGroup {
    position: relative;
    bottom: 100%;
}


.carousel-inner .item img {
    display: block;
    margin: auto;
}

/*#featuredGameCarousel .carousel-inner {*/
    /*width: 200px;
    height: 200px;
}*/

.singleGame {
    display: inline;
    float: left;
    height: 200px;
    width: 100px;
    margin-left: 30px;
}

.carousel div {
    width: 256px;
    height: 256px;
    display: block;
    margin: auto;
}


#theGameArea {
    width: auto;
    height: auto;
    border: black 2px dotted;
    margin: 0 auto;
    max-width:700px;
    max-height:500px;
    overflow:auto;
    resize:none;

}

.emptyIcon {
color:black;
}

.gameHeader {
    text-align: center;
   
}

.relative-pull-right {
    float : right;
    position:relative;
}




.panel-heading > h2 > a:hover,
.panel-heading > h2 > a:focus,
.gameLink:hover,
.gameLink:focus,
.forumTopic:hover,
.forumTopic:focus,
#createThread:hover,
#createThread:hover {
    color: #a11;
    text-decoration: none;
}

#messages {
    position: fixed;
    bottom: 0;
}

#messageGroup {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    width: 100%;
}

.personalMessage {
    list-style-type: none;
}

/*
    display: inline;
list-style-type: none;
padding-right: 20px;
    */

#inboxMessage {
    font-size: 1.5em;
}

.addFriendLink {
    color: green;
}

.followLink {
    color:red;
}
.removeFolloer {
     color:red;
}
.userContainer {
    position: fixed;
    bottom: 0;
    margin-left: 85%;
    overflow: auto;
}

#listOfUsers li:hover {
    background: #ebebeb;
}


#listOfUsers li {
    background: white;
}

#listOfUsers {
    list-style: none;
}

.Notify {
    background-color: yellow;
}


div.pull-right.imMessagenger {
    bottom: 0;
}

.messageContainer {
    display: inline-block;
    width: 100%;
}

.submitMessage {
    float: right;
}

.messageInput {
    width: calc(100% - 30px);
    display: inline-block;
}

#listOfUsers li {
    color: black;
}

    #listOfUsers li:hover {
        color: #a11;
    }

.navbar-form.findFriends {
    margin-left: 35%;
}

.messageInputBox {
    width: 100%;
}

.imUsername {
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    width: 70%;
}

.editPencil {
    color: #a11;
    margin-left: 20%;
}

.removeTrash {
    color: black;
}

#createThread {
}

.panel-heading > h2 > a,
.gameLink,
.forumTopic,
#createThread {
    color: #000;
}



.editPost {
    float: right;
}

#footer {
    position: fixed;
    bottom: 0;
    height: 90%;
    overflow: auto;
    width: 15%;
}


.gameTag {
    border: black 2px solid;
}

#bodyDiv {
    margin: 0 15%;
}

#upVote {
}

#downVote {
    position: relative;
    float: right;
}


.exitLink :hover {
    color: red;
    position: relative;
    float: right;
}


.exitLink {
    position: relative;
    float: right;
}


.gameLinkTitle {
    text-overflow:ellipsis;
    overflow: hidden;
     width:100px;
}

.gameImage {
    width:100px;
    height:100px;
    resize:both;
    overflow:hidden;
}