﻿
@model ProjectOSG.Models.UserAchievement

@{
    ProjectOSG.DAL.AchievementRepository temp = new ProjectOSG.DAL.AchievementRepository();
    ProjectOSG.Models.Achievement chiev = temp.Find(Model.AchievementBelongerID);
    <div class="AchievementInfoDiv">
        <div class="AchievPieceDiv">@chiev.Name</div> 
        <div class="AchievPieceDiv">Description</div>
        <div class="AchievPieceDiv">@chiev.Description</div>
        <div class="AchievPieceDiv">Points</div>
        <div class="AchievPieceDiv">@chiev.AchievementPoints</div>
    </div>
}
