﻿@using OSG.ViewModel
@using  ProjectOSG.DAL
@model ProfileVM


@{
    Layout = "~/Views/Shared/Layout/_MainLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProfilePage</title>
</head>
<body>
    <div>
        @Html.ActionLink("Edit", "ProfileEditPage")
        <div id="ProfileNames">
            <h1>@Model.FirstName @Model.LastName</h1>
            <img class="ProfileLineBreak" src="~/CSS/LineDivider.png"/>
        </div>

        <div id="AboutMeDiv">
            <h3>All About @Model.FirstName!</h3>
            <img class="ProfileLineBreak" src="~/CSS/LineDivider.png"/>
            <div >@Model.AboutMe</div>
        </div>

        @Html.ActionLink("Game Achievement Demo","GamePage","ColterGameTest")

        <div id="AchievementDisplay">
            <h3>@Model.FirstName's Achievements!</h3>
            @{
    
                foreach (var v in @Model.Achievements)
                {
                    Html.RenderPartial("_AchievementPartial", v);
                }
            }
        </div>
    </div>
</body>
</html>
