﻿@using ProjectOSG.Controllers;
@model ProjectOSG.ViewModel.GameVM

@{
    ViewBag.Title = "AddGame";
    Layout = "~/Views/Shared/Layout/_MainLayout.cshtml";
}
<script src="~/Scripts/MoveItemButtons.js" type="text/javascript"></script>
<script src="~/Scripts/ClientSideFileValidation.js" type="text/javascript"></script>
<h2>AddGame</h2>
@if (Model == null)
{

    //using (Html.BeginForm())
    using (Html.BeginForm("AddGame", "Game", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        @Html.ValidationSummary();
        <ul>
            <li>
                @Html.LabelFor(m => m.Title)<br />
                @Html.TextBoxFor(m => m.Title)
            </li>
            <li>
                @Html.LabelFor(m => m.creater)<br />
                @Html.TextBoxFor(m => m.creater)
            </li>
            <li>
                @Html.LabelFor(m => m.description)<br />
                @Html.TextAreaFor(m => m.description)
            </li>

            <li>
                @Html.LabelFor(m => m.releaseDate)<br />
                @Html.TextBoxFor(m => m.releaseDate)
            </li>

            <li>
                <input type="file" id="fileToUpload" name="file" />
                <span class="field-validation-error" id="spanfile"></span>
            </li>

        </ul>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>  <input type="submit" value="AddGame" />
         
           
    }
}
else
{
    using (Html.BeginForm())
    {
    <ul>
        <li>
            @Html.LabelFor(m => m.Title)<br />
            @Html.TextBoxFor(m => m.Title)
        </li>
        <li>
            @Html.LabelFor(m => m.creater)<br />
            @Html.TextBoxFor(m => m.creater)
        </li>
        <li>
            @Html.LabelFor(m => m.description)<br />
            @Html.TextAreaFor(m => m.description)
        </li>
        <li>
            @Html.LabelFor(m => m.rating)<br />
            @Html.TextBoxFor(m => m.rating)

        </li>
        <li>
            @Html.LabelFor(m => m.releaseDate)<br />
            @Html.TextBoxFor(m => m.releaseDate)
        </li>
    </ul>
    @Html.ActionLink("Add Tags To Game", "addTag", "GameTag", new { belongerId = Model.gameID }, null)

    <br />
    <input type="submit" value="Edit Game" />
    }
}

