﻿@using ProjectOSG.ViewModel
@using ProjectOSG.Controllers

@model IEnumerable<GameVM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout/_MainLayout.cshtml";
}


@if(Model!=null){
foreach (GameVM item in Model)
{
     
   <div id="singleGame2" >
    Title <br />@Html.ActionLink(item.Title, "DisplayGame", "Home", item, null)

    <br /><p>  @item.releaseDate</p>  
     <div>
        @for (int i = 0; i < ((int)item.rating); i++)
        {
            <span class="glyphicon glyphicon-star"></span>
        }
    </div>
    @if(item.creater!=null)
    {
     <p>Created by @item.creater</p>
    }
    else
    {
        <p>Created by Unknown</p>
    }
     <p>Description <br /> @item.description</p>
    <p>Tags:</p>
    @if(GameTagController.GetTagsBelongingToGame(item.gameID)!=null){
        foreach (var item2 in GameTagController.GetTagsBelongingToGame(item.gameID))
    {
        <p>@item2.TagType</p>
    }
    
   
  }
  </div>
}
}