﻿
@model IEnumerable<ProjectOSG.Models.User>


<div>
    <div class="panel panel-default">
        <div class="panel-heading"> 
            <h2>Friends</h2>
        </div>
        <div class="panel-body" >
            <div >
                <p class="friendsList">
                    
                    @foreach(var f in @Model)
                    {
                        <a class="profileFriend" href ="@Url.Action("Display", "Profile",f)"> @f.UserName  </a>
                    }

                   
                </p>
            </div>
        </div>
    </div>
</div>


