﻿@using ProjectOSG.Controllers
@{
    ViewBag.Title = "manageFriends";
    Layout = "~/Views/Shared/Layout/_MainLayout.cshtml";
}

<h2>Friends</h2>


            Current Friends:
  <ul class="list-group">
   

    @foreach (var data in RelationshipController.GrabFriends(UserController.GrabID(User.Identity.Name)))
    {
       <li class="list-group-item">
                @data
           
                
            <span>
                            <a class="removeFriend" href="@Url.Action( "removeManageRequest", "Relationship", new { friendRemove = data })"><span class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="left" title="Remove Friend"></span></a>
                             </span>
         </li>
    }
 
</ul>
    
            Friend Requests:
      <ul class="list-group">
   
   
    @foreach (var data in RelationshipController.FriendsRequesting(UserController.GrabID(User.Identity.Name)))
    { 
        <li class="list-group-item">
       
                @data.friendName
          
              
             <span>
                            <a class="AcceptFriend" href="@Url.Action( "sendManageRequest", "Relationship", new { friendAccept = data.friendName })"><span class="glyphicon glyphicon-ok" data-toggle="tooltip" data-placement="left" title="Accept Friend"></span></a>
                             </span>
          </li>
    }

   
</ul>
            Friends Waiting For Reply:
  <ul class="list-group">
       

    @foreach (var data in RelationshipController.GrabWantingFriends(UserController.GrabID(User.Identity.Name)))
    {
        <li class="list-group-item">
                @data.friendName
         </li>
    }

</ul>