﻿@model ProjectOSG.Models.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Layout/_MainLayout.cshtml";
}

@*<h2>Login</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log in Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m=>m.UserName)
                @Html.TextBoxFor(m=>m.UserName)
                @Html.ValidationMessageFor(m=>m.UserName)
            </li>
            <li>
                @Html.LabelFor(m=>m.Password)
                @Html.PasswordFor(m=>m.Password)
                @Html.ValidationMessageFor(m=>m.Password)
            </li>
            <li>
                @Html.CheckBoxFor(m=>m.RememberMe)
                @Html.LabelFor(m=>m.RememberMe)
            </li>
        </ol>
        <input type="submit" value="Log In" />
    </fieldset>
    <p>
        @Html.ActionLink("Register", "Register","Account") if you don't have an account.
    </p>
}*@
<script src="~/Scripts/loginModelShow.js"></script>

<div class="modal fade" id="loginModel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="loginLabel">Login</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Login", "Account"))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="form-horizontal">
                        <label for="usernameLogin">Username </label>
                        <input required type="text" class="form-control" id="usernameLogin" placeholder="Enter Username" name="UserName" />
                        <label for="passwordLogin">Password </label>
                        <input required type="password" class="form-control" id="passwordLogin" placeholder="Enter Password" name="Password" />
                        <label for="remebermeLogin">Remeber Me</label>
                        <input type="checkbox" class="form-control" id="remebermeLogin" name="RemeberMe" />
                        <div class="modal-footer">
                            @*<button class="btn btn-primary" data-toggle="modal" data-target="#register" id="login-register">Register</button>*@
                            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span></button>
                        </div>
                    </div>
                }
                
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
