﻿@model IEnumerable<ProjectOSG.Models.Post>

@{
    
}
<h2 class="threadTitle">@ViewBag.Title</h2>
@{Html.RenderPartial("~/Views/Shared/Partial/_PostsPartial.cshtml", @Model);}
@if(Model != null)
{
    <form method="post" action="@Url.Action("Create", "Post")">
        <p>
            <textarea class="textResponse" name="Message" rows="4"  placeholder="Enter Post"></textarea>
        </p>
        <input type="hidden" name="ThreadId" value="@ViewBag.ThreadId" />
        <button type="submit"><span class="glyphicon glyphicon-comment"></span></button>

    </form>
    
}