﻿@using ProjectOSG.Controllers
@model ProjectOSG.Models.GameTag
@{
    ViewBag.Title = "addTag";
    Layout = "~/Views/Shared/Layout/_MainLayout.cshtml";
}

<h2>addTag</h2>

 @{
         List<string> tagTypes = TagController.GrabAllTags().ToList();
}

<form action="addTag" method="POST">
    <select multiple name="tagGets[]">
        @foreach (var get in tagTypes)
        {
            <option>@get</option>
        }
    </select>

    <div class="editor-field">
        @Html.HiddenFor(model => model.gameBelongerID)
    </div>


<br />
    <input type="submit" value="Add Tags" />
</form>