﻿@model OSG.Models.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Layout/_MainLayout.cshtml";
}

<h2>Login</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log in Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m=>m.UserName)
                @Html.TextBoxFor(m=>m.UserName)
                @Html.ValidationMessageFor(m=>m.UserName)
            </li>
            <li>
                @Html.LabelFor(m=>m.Password)
                @Html.PasswordFor(m=>m.Password)
                @Html.ValidationMessageFor(m=>m.Password)
            </li>
            <li>
                @Html.CheckBoxFor(m=>m.RememberMe)
                @Html.LabelFor(m=>m.RememberMe)
            </li>
        </ol>
        <input type="submit" value="Log In" />
    </fieldset>
    <p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>
}
