﻿/**
    red : a11
    white : FFF
    black : 000
    grey : ebebeb
    */




body {
    background: #EBEBEB;
    color: #a11;
}

.textResponse,
.titleResponse {
    width: 100%;
}

.threadTitle {
    text-align: center;
}

.addPost {
    text-align: right;
}

.postDate {
    float: right;
    position: relative;
}

.postMessage {
    margin-left: 2%;
    margin-right: 2%;
} 
#messageGroup .pull-right{
position:relative;
bottom:100%;
}

#featuredGameCarousel .carousel-inner {
    width: 200px;
    height: 200px;
}

.singleGame {
    display: inline;
    float: left;
    height: 200px;
    width: 100px;
    margin-left: 30px;
}

.gameArea {
    width: 500px;
    height: 300px;
    border: black 2px dotted;
    margin: 0 auto;
}

.gameHeader {
    text-align: center;
}

.panel-heading > h2 > a:hover,
.panel-heading > h2 > a:focus,
.gameLink:hover,
.gameLink:focus,
.forumTopic:hover,
.forumTopic:focus,
#createThread:hover,
#createThread:hover {
    color: #a11;
    text-decoration: none;
}

#messages {
    position: fixed;
    bottom: 0;
}

#messageGroup{
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

/*
    display: inline;
list-style-type: none;
padding-right: 20px;
    */

#createThread {
}

.panel-heading > h2 > a,
.gameLink,
.forumTopic,
#createThread {
    color: #000;
}


.gameTag {
    border: black 2px solid;
}

#bodyDiv {
    margin: 0 15%;
}

#upVote {
}

#downVote {
    position: relative;
    float: right;
}

.AchievementInfoDiv{
    border: 5px solid black;
    width:500px;
    height:auto;
    background-color:lightcoral;
}
.AchievPieceDiv{
    margin-left:5px;
    margin-top:2px;
}

#meCanvas {
    width:400px;
    height: 400px;
    background-color: lightblue;

    vertical-align:bottom;
}

#GameDiv {
    width:400px;
    cursor: none;
}