﻿@model IEnumerable<ProjectOSG.Models.Message>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout/_MainLayout.cshtml";
}

<h2>All Messages in Conversation</h2>

<table>
@foreach (var mes in Model)
{
    <tr>
        <th>
            Sent By: @mes.sentBy
        </th>
        <td>
            Date Sent: @mes.Timestamp
        </td>
    </tr>
    <tr>
        <th>

        </th>
        <td>
            @mes.content
        </td>
    </tr>
}
</table>

@Html.ActionLink("Reply", "Create", "Message")