﻿@model IEnumerable<ProjectOSG.Models.User>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout/_MainLayout.cshtml";
}

<h2>All Users</h2>

<table>
@foreach (var friend in Model)
{
if(friend.UserName!=User.Identity.Name)
{
    <tr>
        <th>
            @friend.UserName
        </th>
        <td>
            @Html.ActionLink("Add Friend", "sendRequest", "Relationship", new {id=friend.Id}, null)
        </td>
    </tr>
}
}
</table>