﻿@model OSG.Models.Game

<div class="singleGame">
    <div>
        <a class="gameLink" href=@Url.Action("DisplayGame","Home",new {gameId = @Model.Id})>
            @Model.Title
        </a>
    </div>
    <img class="gameImage" />
    <div>
        @for (int i = 0; i < ((int)Model.Rating); i++)
        {
            <span class="glyphicon glyphicon-star"></span>
        }
    </div>
</div>
