﻿@using OSG.Models
@model OSG.Models.ForumTopic

<div>
    <h3>
        @if (@Model.SubTopics.Any())
        {
            <a class="forumTopic" href=@Url.Action("DisplaySubTopics", "Forum", new {mainTopicId = @Model.Id})>@Model.Title</a>
        }
        else
        {
            <a class="forumTopic" href=@Url.Action("DisplayPosts", "Forum", new {mainTopicId = @Model.Id})>@Model.Title</a>
        }
        
    </h3>
    <p>@Model.Message</p>
</div>
