﻿@model IEnumerable<OSG.Models.ForumTopic>

<div>
    <div class="panel panel-default">
        <div class="panel-heading">   
            <h2>@ViewBag.PanelTitle</h2>
        </div>
        <div class="panel-body" >
            @foreach (var topic in @Model)
            {
                Html.RenderPartial("Partial/_MainTopicPartial",topic);
            }
        </div>
    </div>
</div>
