﻿@model OSG.Models.ForumPost


<div class="panel panel-default">
  <div class="panel-body">
      @Model.Message;
      @{Html.RenderPartial("Partial/_SubTopicsPartial", @Model.SubPosts);}
  </div>
</div>

