﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Styles/MainStyles.css" type="text/css" rel="stylesheet"/>
    <title>GameView</title>
</head>
<body>
    <div id="GameDiv">
        <canvas id="meCanvas"> 
            <img id="StartImage" src="~/Images/StartBlock.jpg"  width="40" height="40"/>
            <img id="EndImage" src="~/Images/EndBlock.jpg"  width="40" height="40"/>
            <img id="YOUWIN" src="~/Images/YOUWIN.jpg" width="200" height="200" />
        </canvas>
        <script src="~/Scripts/JQuery.js"></script>
        <script src="~/Scripts/GameScript.js">
        </script>
        <div id="Tester"></div>
        <div id="Win"></div>
    </div>
    
</body>
</html>
