﻿@using ProjectOSG.Controllers
@using ProjectOSG.DAL
@using ProjectOSG.Models


@model OSG.ViewModel.ProfileVM

@{
    ViewBag.Title = "Profile";
}

@if (UserController.GrabID(User.Identity.Name) != @Model.userID)
{
    string name = UserController.GrabName(@Model.userID);
    var friends = RelationshipController.GrabFriends(UserController.GrabID(User.Identity.Name));

    if (!friends.Contains(name))
    {
    <a class="pull-right" data-toggle="tooltip" data-placement="top" title="Send Friend Request" href ="@Url.Action("sendRequest", "Relationship", new { id = @Model.userID })"><span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-plus"></span></a>
    }
}

<h2 class="profileUsername">@Model.firstName @Model.lastName</h2>
@if (UserController.GrabID(User.Identity.Name) == @Model.userID)
{
<button class="btn btn-primary btn-lg " data-toggle="modal" data-target="#editProfile">
    <span class="glyphicon glyphicon-pencil"></span>
</button>
}
@{Html.RenderPartial("~/Views/Shared/Partial/_PanelPartial.cshtml", new ProjectOSG.ViewModel.PanelVM { Title = "About Me", Content = @Model.AboutMe });}
@*//@{Html.RenderPartial("~/Views/Shared/Partial/_PanelPartial.cshtml", new ProjectOSG.ViewModel.PanelVM { Title = "", Content = @Model.AboutMe });}*@

@{    Html.RenderPartial("~/Views/Relationship/_FriendsPartial.cshtml", @Model.Friends);}



<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Achievements!</h2>
    </div>
    <div class="panel-body">
        <div>
            <p class="About Me">
                @{
                    UserAchievementRepository repo = new UserAchievementRepository();
                    List<UserAchievement> chievs = repo.FindUsersAchievs(@Model.userID);
                    
                    foreach( var v in chievs)
                    {
                        <div>Winner</div>
                    }
                    
                }
            </p>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="editProfile" tabindex="-1" role="dialog" aria-labelledby="editProfileLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="editProfileLabel">Edit Profile</h4>
            </div>
            <div class="modal-body" ">
                <form method="post" action="@Url.Action("ProfileEditPage", "Profile")">
                   <div class="form-horizontal">
                    <label for="firstname">First Name </label>
                    <input type="text" class="form-control" id="firstname" placeholder="Enter First Name" value="@Model.firstName" name="FirstName" />
                    <label for="lastname">Last Name </label>
                    <input type="text" class="form-control" id="lastname" placeholder="Enter Last Name" value="@Model.lastName" name="LastName" />
                    <label for="aboutme"  >About Me</label>
                    <textarea name="AboutMe" class="form-control" rows="3">@Model.AboutMe</textarea>
                    <input type="hidden" name="ProfileID" value="@Model.profileID" />
                    <input type="hidden" name="UserID" value="@Model.userID" />
                                <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></button>
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span></button>
            </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>




