﻿@using ProjectOSG.Models

@model Profile


@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProfilePage</title>
</head>
<body>
    <div>
        @Html.ActionLink("Edit", "ProfileEditPage")
        <div id="ProfileNames">
            <h1>@Model.FirstName @Model.LastName</h1>
            <img class="ProfileLineBreak" src="~/CSS/LineDivider.png"/>
        </div>

        <div id="AboutMeDiv">
            <h3>All About @Model.FirstName!</h3>
            <img class="ProfileLineBreak" src="~/CSS/LineDivider.png"/>
            <div >@Model.AboutMe</div>
        </div>

    </div>
</body>
</html>
