﻿@model ProjectOSG.Models.Profile

@{
    ViewBag.Title = "ProfileEditPage";
}


@Html.ValidationSummary()
@using (Html.BeginForm())
{
    @Html.Hidden("ProfileID");
    @Html.Hidden("UserID");
    <p>First Name: @Html.EditorFor(u=>u.FirstName)</p>
    <p>Last Name: @Html.EditorFor(u=>u.LastName)</p>
    <p>Description: @Html.TextAreaFor(u=>u.AboutMe)</p>
    <input type="submit" value="Submit New Item"/>
}