﻿@using ProjectOSG.Controllers;
@model ProjectOSG.ViewModel.GameVM

@{
    ViewBag.Title = "AddGame";
    Layout = "~/Views/Shared/Layout/_MainLayout.cshtml";
}
<script src="~/Scripts/MoveItemButtons.js" type="text/javascript" ></script>
<h2>AddGame</h2>
     @{
         List<string> tagTypes = TagController.GrabAllTags().ToList();

         List<string> empty = new List<string>();
        
         SelectList sl = new SelectList(tagTypes);
         SelectList chosenSL = new SelectList(empty);
         
            }
     @if (Model == null)
     {

         using (Html.BeginForm())
         {
            
         
           <ul>
               <li>
                @Html.LabelFor(m => m.Title)<br />
           @Html.TextBoxFor(m => m.Title)
             </li>
               <li>
              @Html.LabelFor(m => m.creater)<br />
             @Html.TextBoxFor(m => m.creater)
          </li>
               <li>
              @Html.LabelFor(m => m.description)<br />
             @Html.TextAreaFor(m => m.description)
      </li>
               <li>
              @Html.LabelFor(m => m.rating)<br />
             @Html.TextBoxFor(m => m.rating)

               </li>
               <li>
              @Html.LabelFor(m => m.releaseDate)<br />
           @Html.TextBoxFor(m => m.releaseDate)
            </li>
           </ul>
        
             @Html.Label("Chosen") <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>  @Html.Label("Not Chosen")<br />
             @Html.ListBoxFor(m => m.Tags, chosenSL, new { @multiple = "multiple" })
         
            <input type="button" onclick="move(this.form.Tags, this.form.Not_Chosen)
            
                 " value="->" />
            <input type="button" onclick="move(this.form.Not_Chosen, this.form.Tags)" value="<-" />
               
            @Html.ListBox("Not Chosen", sl)<br />
         <br />
         <p>select chosen ones before adding game</p>
           <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>  <input type="submit" value="AddGame" />
         
           
         }
     }
     
   @*  else
     {
         using (Html.BeginForm())
         {

             chosenSL = new SelectList(Model.Tags);
             <ul>
               <li>
                @Html.LabelFor(m => m.Title)<br />
           @Html.TextBoxFor(m => m.Title)
             </li>
               <li>
              @Html.LabelFor(m => m.creater)<br />
             @Html.TextBoxFor(m => m.creater)
          </li>
               <li>
              @Html.LabelFor(m => m.description)<br />
             @Html.TextAreaFor(m => m.description)
      </li>
               <li>
              @Html.LabelFor(m => m.rating)<br />
             @Html.TextBoxFor(m => m.rating)

               </li>
               <li>
              @Html.LabelFor(m => m.releaseDate)<br />
           @Html.TextBoxFor(m => m.releaseDate)
            </li>
           </ul>
             @Html.Label("Chosen") <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>  @Html.Label("Not Chosen")<br />
             @Html.DropDownListFor(m => m.Tags, chosenSL, new { @multiple = "multiple" })
            <input type="button" onclick="move(this.form.Tags, this.form.Not_Chosen)" value="->" />
            <input type="button" onclick="move(this.form.Not_Chosen, this.form.Tags)" value="<-" />
               
            @Html.ListBox("Not Chosen", sl)<br />

         <br />
             <input type="submit" value="Edit Game" />
         }
     }*@
    
         