﻿@model ProjectOSG.ViewModel.GameVM

@{
    ViewBag.Title = "SingleGame";
    Layout = "~/Views/Shared/Layout/_MainLayout.cshtml";
}
@*@section Edit
{
     <li>
        @Html.ActionLink("Edit Game", "EditGame", "Game",@Model.Title);
     </li> 
    }*@
<h2>SingleGame</h2>
@{ Html.RenderPartial("Partial/_GameVM", @Model); }