﻿@using ProjectOSG.Controllers
@model IEnumerable<ProjectOSG.Models.User>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout/_MainLayout.cshtml";
}


<form class="navbar-form findFriends" method="POST" role="search" action="@Url.Action("searchResult", "User")">
    <div class="form-group">
        <input type="text" class="form-control form-control-large" placeholder="Find Friends" name="SearchResult">
    </div>
    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" data-toggle="tooltip" data-placement="left" title="Search People"></span></button>
</form>

<div class="row-fluid">
    @foreach (var friend in Model)
    {
        if (friend.UserName != User.Identity.Name)
        {
            
        <ul class="list-group">
            <li class="list-group-item">
                <span>
                    <a href="@Url.Action("Display", "Profile", friend)">@friend.UserName </a>
                    <span class="relative-pull-right">
                        <span>
                            <a  href="@Url.Action("Display", "Profile", friend)">
                                <span class="glyphicon glyphicon-user"></span>
                            </a>
                        </span>
                        @if (!RelationshipController.AlreadyFriend(UserController.GrabID(User.Identity.Name), UserController.GrabID(friend.UserName)) && !RelationshipController.SpecificRequestWaiting(friend.Id, UserController.GrabID(User.Identity.Name)))
                        {
                            <span>
                                <a class="addFriendLink"  href="@Url.Action("sendRequest", "Relationship", new { id = friend.Id })">
                                    <span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="left" title="Add Friend"></span>
                                </a>
                            </span>
                        }
                        else
                        {
                            <span class="emptyIcon">
                                <span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="left" title="Already Friends"></span>
                            </span>
                        }
                        @if (!FollowerController.AlreadyFollower(UserController.GrabID(User.Identity.Name), UserController.GrabID(friend.UserName)))
                        {
                            <span>
                                <a class="followLink"  href="@Url.Action("Follow", "Follower", new { id = friend.Id })">
                                    <span class="glyphicon glyphicon-heart" data-toggle="tooltip" data-placement="left" title="Follow"></span>
                                </a>
                            </span>

                        }
                        else
                        {
                            <span>
                            <a class="removeFolloer" href="@Url.Action("removeFollower", "Follower", new { userID=UserController.GrabID(User.Identity.Name),friendID= friend.Id })"><span class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="left" title="UnFollow"></span></a>
                             </span>
                        }
                    </span>
                </span>
            </li>
        </ul>
            
@*<div class="col-xs-2">

            <a href="@Url.Action("Display", "Profile", friend)">@friend.UserName </a>

        </div>
        <div class="col-xs-1">
            <a class="profileLink" href="@Url.Action("Display", "Profile", friend)">
                <span class="pull-right"><span class="glyphicon glyphicon-user" data-toggle="tooltip" data-placement="left" title="See Profile"></span></span>

            </a>
        </div>
            if (!RelationshipController.AlreadyFriend(UserController.GrabID(User.Identity.Name), UserController.GrabID(friend.UserName)))
            {
        <div class="col-xs-1">
            <a class="addFriendLink" href="@Url.Action("sendRequest", "Relationship", new { id = friend.Id })"><span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="left" title="Add Friend"></span></a>
        </div>
        

            }
            else
            {
        <div class="col-xs-1"></div>
            }
            if (!FollowerController.AlreadyFollower(UserController.GrabID(User.Identity.Name), UserController.GrabID(friend.UserName)))
            {
        <div class="col-xs-1">
            <a class="thumbsUpLink" href="@Url.Action("Follow", "Follower", new { id = friend.Id })"><span class="glyphicon glyphicon-thumbs-up" data-toggle="tooltip" data-placement="left" title="Follow"></span></a>
        </div>
        <div class="col-xs-11"></div>

            }
            else
            {
        <div class="col-xs-12"></div>*@
        }
    }
    

</div>
