﻿@using ProjectOSG.Controllers;
@model ProjectOSG.ViewModel.GameVM

@{
    ViewBag.Title = Model.Title;
}

<div>
    <h2 class="gameHeader">@Model.Title</h2>
    <div id="theGameArea">
        @if (File.Exists(Server.MapPath("~/Views/Shared/") + "_" + @Model.Title + ".cshtml"))
        {
            // @Html.Partial("~/Views/Shared/_"+@Model.Title+".cshtml",Server.MapPath(Model.URL))
            @Html.Partial("~/Views/Shared/_" + @Model.Title + ".cshtml", model: "~/Content/UploadedGames/" + UserController.GrabID(@Model.creater) + "/" + @Model.Title + "/")
        }
        else
        {
            @Html.Raw("Error loading game, game view not found... :(");
        }
    </div>
    <div>


        <p>Rating : @Model.rating</p>
        @if (User.Identity.Name != @Model.creater)
        {
            <form method="post" action ="@Url.Action("Rate", "Game", new { gameId = @Model.gameID })">
                <input id="ratingValue" name="rating" type="hidden" />
                <div>
                    Rate Game : 
                @for (int i = 1; i <= 5; i++)
                {
                    <button type="submit" class="starButton" onclick="ratingChange('@i')"><span class="glyphicon glyphicon-star"></span></button>
                }
                </div>

                @* <input type="submit" value="Rate!" />*@
            </form>
        }

        <form method="post" id="AchievementForm" action="@Url.Action("GamePage", "Achievement", Model)">

            <input type="hidden" name="gameID" id="GameIDInput" value="@Model.gameID" />

            <input type="hidden" name="achievId" id="AchievementInput" />

            <input type="hidden" name="description" id="AchieveDescriptionInput" />

            <input type="hidden" name="points" id="AchievePointsInput" />

        </form>

    </div>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Instructions
                    </a>
                </h3>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    @Model.description
                </div>
            </div>
        </div>
    </div>

    @{Html.RenderPartial("Partial/_GameDetails", Model);}

    @*@{Html.RenderPartial("Partial/_GameDetails", Model);}*@
</div>



