﻿@{
    ViewBag.Title = "Create A New Thread";
}

<form method="POST" action="@Url.Action("Create","Thread")">
    @{Html.RenderPartial("~/Views/Shared/Partial/_ThreadInputPartial.cshtml");}
    <button><span class="glyphicon glyphicon-ok"></span></button>

</form>