﻿@model IEnumerable<ProjectOSG.Models.Thread>

@{

}
@if(User.Identity.IsAuthenticated)
{
<h4>
    <a data-toggle="modal" class="addThread"  data-target ="#thread">Add<span class="glyphicon glyphicon-plus"></span></a>
</h4>
<div class="modal fade" id="thread" tabindex="-1" role="dialog" aria-labelledby="threadLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="threadLabel">Create Thread</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Create", "Thread"))
                {
@*<form method="post" action="@Url.Action("Login", "Account")">*@
                    <div class="form-horizontal">
                        <label for="threadTitle">Title </label>
                        <input type="text" class="form-control" id="threadTitle" placeholder="Enter Title" name="TopicName" />
                        <label for="threadDescription">Description </label>
                        <textarea class="form-control" id="threadDescription" placeholder="Enter Description" name="Description"></textarea> 
                        <div class="modal-footer">
                            @*<button class="btn btn-primary" data-toggle="modal" data-target="#register" id="login-register">Register</button>*@
                            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span></button>
                        </div>
                    </div>
                }
                @* </form>*@
            </div>

        </div>
    </div>
</div>
}
@{Html.RenderPartial("~/Views/Shared/Partial/_ThreadsPartial.cshtml", @Model);}