﻿@model ProjectOSG.Models.Thread
@{
    ViewBag.Title = "Edit";
}

<form method="POST" action="@Url.Action("Edit", "Thread")">
    @{Html.RenderPartial("~/Views/Shared/Partial/_ThreadInputPartial.cshtml", @Model);}
    <input type="hidden" value="@Model.Id" name="Id" />
    <input type="hidden" value="@Model.Username" name="Username" />
    <input type="hidden" value="@Model.Started" name="Started" />
    <button><span class="glyphicon glyphicon-ok"></span></button>
</form>
