@model ProjectOSG.Models.User

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>User</legend>

    <div class="display-label">UserName</div>
    <div class="display-field">@Model.UserName</div>

    <div class="display-label">BirthDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.BirthDate)</div>

    <div class="display-label">UserEmail</div>
    <div class="display-field">@Model.UserEmail</div>

    <div class="display-label">Password</div>
    <div class="display-field">@Model.Password</div>

    <div class="display-label">ConfirmPassword</div>
    <div class="display-field">@Model.ConfirmPassword</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


