@model ProjectOSG.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>User</legend>

    <div class="display-label">UserName</div>
    <div class="display-field">@Model.UserName</div>

    <div class="display-label">BirthDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.BirthDate)</div>

    <div class="display-label">UserEmail</div>
    <div class="display-field">@Model.UserEmail</div>

    <div class="display-label">Password</div>
    <div class="display-field">@Model.Password</div>

    <div class="display-label">ConfirmPassword</div>
    <div class="display-field">@Model.ConfirmPassword</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.UserID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


