@model IEnumerable<ProjectOSG.Models.User>

@{
    ViewBag.Title = "UsersIndex";
    ViewBag.PanelTitle = "UsersList";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            UserName
        </th>
        <th>
            BirthDate
        </th>
        <th>
            UserEmail
        </th>
        <th>
            Password
        </th>
        <th>
            ConfirmPassword
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserID })
        </td>
        <td>
			@item.UserName
        </td>
        <td>
			@String.Format("{0:g}", item.BirthDate)
        </td>
        <td>
			@item.UserEmail
        </td>
        <td>
			@item.Password
        </td>
        <td>
			@item.ConfirmPassword
        </td>
    </tr>
}

</table>


