﻿@using ProjectOSG.Controllers
@model IEnumerable<ProjectOSG.ViewModel.ConversationVM>

@{
    ViewBag.Title = "UserConversations";
    Layout = "~/Views/Shared/Layout/_MainLayout.cshtml";
}

@*<h2>Your Conversations</h2>*@

<button class="btn btn-default" data-toggle="modal" data-target="#convo">New Conversation</button>


 <div class="modal fade" id="convo" tabindex="-1" role="dialog" aria-labelledby="convoLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="convoLabel">Login</h4>
                                            </div>
                                            <div class="modal-body">
                                                @using (Html.BeginForm("Create", "Conversation"))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    @Html.ValidationSummary(true)
@*<form method="post" action="@Url.Action("Login", "Account")">*@
                                                    <div class="form-horizontal">
                                                        <label for="toUser">Username </label>
                                                        <select id="toUser" class ="form-control" name="tempTo">
                                                            @foreach (var f in ProjectOSG.Controllers.RelationshipController.GrabFriends(@ViewBag.fromUserID))
                                                            {
                                                                <option value ="@f">@f</option>
                                                            }
                                                        </select>
                                                        <label for="content">
                                                            Subject
                                                        </label>
                                                        <input id="text" name="Subject" class ="form-control" placeholder="Enter Subject"/>

                                                        
                                                      
                                                        <div class="modal-footer">
                                                            @*<button class="btn btn-primary" data-toggle="modal" data-target="#register" id="login-register">Register</button>*@
                                                            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span></button>
                                                        </div>
                                                    </div>
                                                }
                                                @* </form>*@
                                            </div>

                                        </div>
                                    </div>
                                </div>

@*@Html.ActionLink("Start a New Conversation", "Create", "Conversation")*@

<ul class="list-group">
    @foreach (var data in Model)
    {

        if (MessageController.newMessageCheck(data.conversationID, User.Identity.Name))
        {
        <li class="list-group-item">
            <a href="@Url.Action("LookAtConversation", "Conversation", new { id = data.conversationID })">Subject:  @data.Subject
                 <p >@ProjectOSG.Controllers.UserController.GrabName(data.toUserID)</p>
            </a>


        </li>
        }
        else
        {
        <li class="list-group-item">

            <a href="@Url.Action("LookAtConversation", "Conversation", new { id = data.conversationID })" class="Notify">Subject:  @data.Subject
                 <p class="relative-pull-right">@ProjectOSG.Controllers.UserController.GrabName(data.toUserID)</p>
            </a>

            
        </li>
        }
    }
</ul>

@*
        if (MessageController.newMessageCheck(data.conversationID, User.Identity.Name))
        {
            <tr>
                <th>
                    @Html.ActionLink("Subject: " + data.Subject, "LookAtConversation", "Conversation", new { id = data.conversationID }, null)
                </th>
                <td>
                    
                </td>
                <td>
                    From: @ProjectOSG.Controllers.UserController.GrabName(data.fromUserID)
                </td>
                <td>
                    <p>

                    </p>
                </td>
                <td>
                    To: @ProjectOSG.Controllers.UserController.GrabName(data.toUserID)
                </td>
            </tr>
        }
        else
        {
            <tr class="Notify">
                <th>
                    @Html.ActionLink("Subject: " + data.Subject, "LookAtConversation", "Conversation", new { id = data.conversationID }, null)
                </th>
                <td>
                    
                </td>
                <td>
                    From: @ProjectOSG.Controllers.UserController.GrabName(data.fromUserID)
                </td>
                <td>
                    <p>

                    </p>
                </td>
                <td>
                    To: @ProjectOSG.Controllers.UserController.GrabName(data.toUserID)
                </td>
            </tr>
        }
    }*@
