﻿@using ProjectOSG.Models
@using ProjectOSG.Controllers
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/3rdParty/bootstrap/jquery.js"></script>
    <link rel="stylesheet" href="~/3rdParty/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/3rdParty/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/3rdParty/bootstrap/css/bootstrap-theme.min.css" />
    <script src="~/3rdParty/bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" href="~/CSS/siteStyle.css" />
    <script src="~/Scripts/jquery-1.6.4.min.js"></script>
    <script src="~/Scripts/modalValidation.js"></script>
    <script src="~/Scripts/jquery.signalR-2.0.3.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/Chat/chat.js"></script>
    <script src="~/Scripts/MoveItemButtons.js" type="text/javascript"></script>
    <script src="~/Scripts/ClientSideFileValidation.js" type="text/javascript"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href=@Url.Action("Index", "Home")><span class="glyphicon glyphicon-play-circle"></span>SG</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Games <b class="caret"></b></a>
                            <ul class="dropdown-menu">

                                @*  <li><a href=@Url.Action("DisplayTagged", "Game", new { panelTitle = "Action Games", tag = Tag.Action })>Action</a></li>
                                    <li><a href=@Url.Action("PuzzleGames", "Home")>Puzzle</a></li>
                                <li><a href=@Url.Action("ClassicGames", "Home")>Classic</a></li>*@

                                @{
                                    var gameTypes = TagController.GrabAllTags();

                                    foreach (var gameType in gameTypes)
                                    {
                                    <li><a href=@Url.Action("DisplayTagged", "Game", new { tag = gameType })>@gameType</a></li>
                               
                                    }
                                }

                            </ul>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                <a href=@Url.Action("DisplayAll", "Thread")>Forum</a>
                            </li>
                        }
                        <li>
                            @Html.ActionLink("All Games", "Index", "Game")
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                @*// @Html.ActionLink("Add Game", "AddGame", "Game")*@

                                <a data-toggle="modal" data-target="#addgame">Add Game</a>
                                <div class="modal fade" id="addgame" tabindex="-1" role="dialog" aria-labelledby="addgameLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="addgameLabel">Add Game</h4>
                                            </div>
                                            <div class="modal-body">
                                                @using (Html.BeginForm("AddGame", "Game", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                                {

                                                    @Html.ValidationSummary();
                                                    <div class="form-horizontal">
                                                        <label for="gameTitle">Title </label>
                                                        <input required type="text" class="form-control" id="gameTitle" placeholder="Enter Title" name="Title" />
                                                        <label for="gameDescription">Description </label>
                                                        <textarea required class="form-control" id="gameDescription" placeholder="Enter Description" name="Description"></textarea>
                                                        <label for="fileToUpload">Upload Game</label>
                                                        <input required type="file" id="fileToUpload" name="file" />
                                                        <span class="field-validation-error" id="spanfile"></span>


                                                        <div class="modal-footer">
                                                            <div class="panel-group" id="accordion">
                                                                <div class="panel panel-default">
                                                                    <div class="panel-heading">
                                                                        <h4 class="panel-title">
                                                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Upload Instructions
                                                                            </a>
                                                                        </h4>
                                                                    </div>
                                                                    <div id="collapseOne" class="panel-collapse collapse">
                                                                        <div class="panel-body">
                                                                            <p>Hello and welcome to Open-Source-Gaming!  If you're viewing this page you must be interested in uploading your own html5 games and getting feedback from other users.  This tutorial will not cover how to create an html5 game, merely how to upload a one that you created.

                                                                                Once your game is complete, you will create a new .zip file containing all the files for your game in the root of the zip file.  You need a 256x256 icon named "icon.png" in the root of your .zip for display on the website.   You also need an MVC4 partial view .cshtml file named the same as the title of your game and the zip folder, except that it begins with a preceding underscore.  The view must take in a model of a string.  The string contains a path to your game's root directory and is handled by our server.  
                                                                            </p>
                                                                            <img src="~/Content/Tutorial/SampleGameView.png"/>
                                                                            <p>
                                                                                If you need to use any images, javascript, CSS, or other seperate files, reference them using the model string and concatenating a relative path on the end.  Include these files in the zip file.

                                                                            </p>
                                                                            <img src="~/Content/Tutorial/SampleFileStructure.png"/>
                                                                            <p>
                                                                                Once your game meets these requirements, log in to OSG, and head to the Add Game tab in the title bar at the top of the screen.  
                                                                            </p>
                                                                            <img src="~/Content/Tutorial/WhereToGo.png"/>
                                                                            <p>
                                                                                Enter your game's information, and be sure that the title matches the name of the zip.  Put a nice, detailed description of how to play in the description tab, and upload the zip file.

                                                                            </p>
                                                                            <img src="~/Content/Tutorial/SampleConfirmation.png"/>
                                                                            <p>
                                                                                Pending moderator/administrator approval, you're done!
                                                                            </p>
                                                                        </div>/
                                                                    </div>
                                                                </div>

                                                            </div>

                                                            <button type="submit" class="btn btn-primary" onclick="notifyUser(@User.Identity.Name)"><span class="glyphicon glyphicon-ok"></span></button>
                                                        </div>
                                                    </div>
                                                }

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </li>



                            @RenderSection("Edit", false)
                               
                            
                            
                            
                            
                        }
                        else
                        {
                            <li>
                                @*      @Html.ActionLink("Register", "Register", "Account")*@
                                <a data-toggle="modal" data-target="#register">Register</a>
                                <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="registerLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="registerLabel">Register</h4>
                                            </div>

                                            @using (Html.BeginForm("Register", "Account"))
                                            {
                                                <div class="modal-body">
                                                    @Html.ValidationSummary()
                                                    <label for="usernameRegister">Username </label>
                                                    <input required type="text" class="form-control" id="usernameRegister" placeholder="Enter Username" name="UserName" />
                                                    <label for="passwordRegister">Password </label>
                                                    <input required type="password" class="form-control" id="passwordRegister" placeholder="Enter Password" name="Password" />
                                                    <label for="passwordConfirmRegister">Password </label>
                                                    <input required type="password" class="form-control" id="passwordConfirmRegister" placeholder="Enter Password" name="ConfirmPassword" />
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary">Register</button>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>

                                <a data-toggle="modal" data-target="#Login">Login</a>
                                <div class="modal fade" id="Login" tabindex="-1" role="dialog" aria-labelledby="loginLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="loginLabel">Login</h4>
                                            </div>
                                            <div class="modal-body">
                                                @using (Html.BeginForm("Login", "Account"))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    @Html.ValidationSummary(true)
@*<form method="post" action="@Url.Action("Login", "Account")">*@
                                                    <div class="form-horizontal">
                                                        <label for="usernameLogin">Username </label>
                                                        <input required type="text" class="form-control" id="usernameLogin" placeholder="Enter Username" name="UserName" />
                                                        <label for="passwordLogin">Password </label>
                                                        <input required type="password" class="form-control" id="passwordLogin" placeholder="Enter Password" name="Password" />
                                                        <label for="remebermeLogin">Remeber Me</label>
                                                        <input type="checkbox" class="form-control" id="remebermeLogin" name="RememberMe" />
                                                        <div class="modal-footer">
                                                            @*<button class="btn btn-primary" data-toggle="modal" data-target="#register" id="login-register">Register</button>*@
                                                            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span></button>
                                                        </div>
                                                    </div>
                                                }
                                                @* </form>*@
                                            </div>

                                        </div>
                                    </div>
                                </div>


                            </li>
                        }






                    </ul>
                    <div class="navbar navbar-right"><span class="glyphicon glyphicon-message"></span></div>



                    <form class="navbar-form navbar-right visible-md visible-lg" method="POST"  role="search"  action="@Url.Action("SearchGames", "Game")">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search Games" name="gameTitle" value="@ViewBag.GameTitle">
                        </div>
                        <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </form>

                    @if (User.Identity.IsAuthenticated)
                    {

                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hello, @User.Identity.Name! <b class="caret"></b>
                                </a>

                                <ul class="dropdown-menu">

                                    <li>
                                        <a href="@Url.Action("DisplayName", "Profile", new { username = User.Identity.Name.ToString() })">Profile</a>
                                    </li>
                                    <li>
                                        @if (ConversationController.allNewMessageCheck(User.Identity.Name))
                                        {
                                            <a href="@Url.Action("UserConversations", "Conversation")">Inbox</a>
                                        }
                                        else
                                        {
                                            <a class="Notify" href="@Url.Action("UserConversations", "Conversation")">Inbox</a>
                                        }
                                    </li>
                                    <li>
                                        @if (RelationshipController.RequestWaiting(UserController.GrabID(User.Identity.Name)))
                                        {
                                            <a class="Notify" href="@Url.Action("manageFriends", "Relationship", new { id = UserController.GrabID(User.Identity.Name) })">Manage Friends</a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("manageFriends", "Relationship", new { id = UserController.GrabID(User.Identity.Name) })">Manage Friends</a>
                                        }
                                    </li>

                                    <li>
                                        @Html.ActionLink("Find Friends", "Index", "Relationship")
                                    </li>

                                    <li>
                                        @Html.ActionLink("Log Out", "LogOut", "Account")
                                    </li>

                                </ul>
                        </ul>
                    }


                </div>
            </div>
        </nav>
    </div>
    <div id="bodyDiv">
        <div id="alerts">
        </div>
        @*<button onclick ='notifyUser("@User.Identity.Name")' >Push Me</button>*@
        @RenderBody()
    </div>
    <div class="userContainer">
        @if (@User.Identity.IsAuthenticated)
        {
            <ul class="list-group" id="listOfUsers">
                @foreach (var friend in RelationshipController.GrabFriends(UserController.GrabID(User.Identity.Name)))
                {
                    <li class="list-group-item">@friend</li>
                }
            </ul>
        }
    </div>
    <div id="footer">
        @if (@User.Identity.IsAuthenticated)
        {
            <div class="panel-group" id="messageGroup">
            </div>


            

        }
    </div>


</body>
</html>
