﻿
@model IEnumerable<ProjectOSG.ViewModel.GameVM>

<div>

    <div class="panel panel-default">
        <div class="panel-heading">
   
            <h2>@ViewBag.PanelTitle</h2>
        </div>
        <div class="panel-body" >
            <div class="gamesList">
                
                @foreach(var g in @Model){
                    Html.RenderPartial("Partial/_GamePartial",g);
                }
            </div>
        </div>
    </div>
</div>
