﻿@using ProjectOSG.Controllers;

@model ProjectOSG.ViewModel.GameVM

<div class="singleGame">
    <div>
        <a class="gameLink" href=@Url.Action("DisplayGame", "Home", new { gameId = Model.gameID }, null)>
            <p class="gameLinkTitle">
                @Model.Title
            </p>
        </a>
    </div>
    <img class="gameImage" src='~/Content/UploadedGames/@UserController.GrabID(@Model.creater)/@Model.Title/icon.png' onerror = 'this.onerror=null;this.src="../Content/GameImages/placement.png"'>
    <div>
        @for (int i = 0; i < ((int)Model.rating); i++)
        {
            <span class="glyphicon glyphicon-star"></span>
        }
    </div>
</div>
