﻿@using ProjectOSG.Controllers;
@model ProjectOSG.ViewModel.GameVM

<div id="singleGame2" >
    Title <br />@Html.ActionLink(Model.Title, "Display", "Game", new { gameId = Model.gameID })
     <p>Release Date  <br /> @Model.releaseDate</p>
     <div>
        @for (int i = 0; i < ((int)Model.rating); i++)
        {
            <span class="glyphicon glyphicon-star"></span>
        }
    </div>
    @if(Model.creater!=null)
    {
     <p>Created by @Model.creater</p>
    }
    else
    {
        <p>Created by Unknown</p>
    }
     <p>Description <br /> @Model.description</p>
    <p>Tags:</p>
    @if (GameTagController.GetTagsBelongingToGame(Model.gameID) != null)
    {
        foreach (var item in GameTagController.GetTagsBelongingToGame(Model.gameID))
    {
        <p>@item</p>
    }
    }
</div>