﻿@model ProjectOSG.ViewModel.PanelVM



<div class="panel panel-default">
    <div class="panel-heading">
        <h2>@Model.Title</h2>
    </div>
    <div class="panel-body">
        <div>
            <p class="About Me">
                @Model.Content
            </p>
        </div>
    </div>
</div>
