﻿@*@model ProjectOSG.Models.ForumPost


<div class="panel panel-default">
  <div class="panel-body">
      @Model.Message;
      @{Html.RenderPartial("Partial/_SubTopicsPartial", @Model.SubPosts);}
  </div>
</div>
*@

@model IEnumerable<ProjectOSG.Models.Post>
@{
    var posts = Model.OrderBy(p=>p.PostDate);
    foreach (var item in posts)
    {
        Html.RenderPartial("~/Views/Shared/Partial/_PostPartial.cshtml",item);
    }   
}