﻿@model ProjectOSG.Models.Post


<div class="panel panel-default postContainer">
    <div class="panel-b">
        <p class="postDate">@Model.PostDate.ToString()</p>
        <br>
        <p class="postMessage">@Model.Username : </p>

        @if (User.Identity.IsAuthenticated && User.Identity.Name == @Model.Username)
        {
            <form method="post" action="@Url.Action("Edit", "Post")">
                <textarea class="postTextArea" name="Message" onkeydown="textAreaAdjust(this)">@Model.Message</textarea>
                <input type="hidden" name="Username" value="@Model.Username"/>
                <input type="hidden" name="ThreadId" value="@Model.ThreadId"/>
                <input type="hidden" name="Id" value="@Model.Id"/>
                <input type="hidden" value ="@Model.PostDate" name="PostDate" />
                <button type="submit" class="editPost"><span class="glyphicon glyphicon-floppy-save"></span></button>
            </form>
        }
        else
        {
            <p class="postMessage"> @Model.Message</p>

        }
    </div>

</div>

