﻿@model IEnumerable<ProjectOSG.Models.ForumPost>

@if (@Model != null)
{
    foreach (var post in @Model)
    {

        <div class="panel panel-default">
            <div class="panel-body">
                @post.Message
                @{ Html.RenderPartial("Partial/_SubTopicsPartial", post.SubPosts); }
            </div>
        </div>
    }
}
