﻿@model ProjectOSG.Models.Thread

<div>
    <h3>
        <a class="forumTopic" href=@Url.Action("DisplayAll", "Post", new { threadId = Model.Id })>@Model.TopicName</a>
        @if (User.Identity.Name == Model.Username)
        {
            <a  data-toggle="modal" data-target="#editThread@(ViewBag.CurrentThread)" class="editPencil"><span class="glyphicon glyphicon-pencil"></span></a>
            <a href="@Url.Action("Remove", "Thread", new { threadId = Model.Id })" class="removeTrash"><span class="glyphicon glyphicon-trash"></span></a>
        }
    </h3>
    <div class="modal fade" id="editThread@(ViewBag.CurrentThread)" tabindex="-1" role="dialog" aria-labelledby="threadLabel@(ViewBag.CurrentThread)" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="threadLabel@(ViewBag.CurrentThread)">Edit Thread</h4>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("Edit", "Thread"))
                    {
@*<form method="post" action="@Url.Action("Login", "Account")">*@
                        <div class="form-horizontal">
                            <label for="threadTitle@(ViewBag.CurrentThread)">Title </label>
                            <input type="text" class="form-control" id="threadTitle@(ViewBag.CurrentThread)" value="@Model.TopicName" placeholder="Enter Title" name="TopicName" />
                            <label for="threadDescription@(ViewBag.CurrentThread)">Description </label>
                            <textarea class="form-control" id="threadDescription@(ViewBag.CurrentThread)"  placeholder="Enter Description" name="Description">@Model.Description</textarea>
                            <input type="hidden" value="@Model.Id" name="Id" />
                            <input type="hidden" value="@Model.Username" name="Username" />
                            <input type="hidden" value="@Model.Started" name="Started" />
                            <div class="modal-footer">
                                @*<button class="btn btn-primary" data-toggle="modal" data-target="#register" id="login-register">Register</button>*@
                                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span></button>
                            </div>
                        </div>
                    }
                    @* </form>*@
                </div>

            </div>
        </div>
    </div>


    <p>@Model.Description</p>
</div>
