﻿<div class="threadInput">
    <h3 class="titleResponse">
        <label  for="TopicName">Title : </label>
        <input   required type="text" name="TopicName"  value="@ViewBag.Name" />
    </h3>

    <p >
        <textarea class="textResponse" name="Description" rows="4" placeholder="Description" >@ViewBag.Description</textarea>
    </p>
</div>
