﻿@model IEnumerable<ProjectOSG.Models.Thread>

<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Forum</h2>
        </div>
        <div class="panel-body">
            @{
                int currentThread = 0;
                foreach (var topic in @Model)
                {
                    ViewBag.CurrentThread = currentThread;
                    currentThread++;
                    Html.RenderPartial("~/Views/Shared/Partial/_ThreadPartial.cshtml", topic);
                }
            }
        </div>
    </div>
</div>
