﻿@model ProjectOSG.ViewModel.ColterTestVM

@{
    ViewBag.Title = "GamePage";
}

<h2>GamePage</h2>


<div id="GameDiv">
    <canvas id="meCanvas"> 
        <img id="StartImage" src="~/Images/StartBlock.jpg"  width="40" height="40"/>
        <img id="EndImage" src="~/Images/EndBlock.jpg"  width="40" height="40"/>
        <img id="YOUWIN" src="~/Images/YOUWIN.jpg" width="200" height="200" />
    </canvas>
    <script src="~/Scripts/JQuery.js"></script>
    <script src="~/Scripts/GameScript.js">
    </script>
    <div id="Tester"></div>
@*  <div id="Win"></div>
    <div id ="AchievementDiv"></div>*@
    <form method="post" id="AchievementForm" action="@Url.Action("GamePage", "ColterGameTest",Model)">

        <input type="hidden" name="gameID" id="GameIDInput" />

        <input type="hidden" name="achievId" id="AchievementInput" />



        <input type="hidden" name="description" id="AchieveDescriptionInput" />

        <input type="hidden" name="points" id="AchievePointsInput" />



        <button type="submit" class="editPost">
            <span class="glyphicon glyphicon-floppy-save"></span>
        </button>
    </form>
</div>
    