﻿@using ProjectOSG.Models
@using ProjectOSG.Controllers
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/3rdParty/bootstrap/jquery.js"></script>
    <link rel="stylesheet" href="~/3rdParty/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/3rdParty/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/3rdParty/bootstrap/css/bootstrap-theme.min.css" />
    <script src="~/3rdParty/bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" href="~/CSS/siteStyle.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href=@Url.Action("Index", "Home")><span class="glyphicon glyphicon-play-circle"></span>SG</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Games <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                           
                               @*  <li><a href=@Url.Action("DisplayTagged", "Game", new { panelTitle = "Action Games", tag = Tag.Action })>Action</a></li>
                                    <li><a href=@Url.Action("PuzzleGames", "Home")>Puzzle</a></li>
                                <li><a href=@Url.Action("ClassicGames", "Home")>Classic</a></li>*@

                                @{
                                    var gameTypes = TagController.GrabAllTags();
                                    
                                    foreach (var gameType in gameTypes)
                                    {
                                    <li><a href=@Url.Action("DisplayTagged", "Game", new { tag = gameType })>@gameType.ToString()</a></li>
                               
                                    }
                                }

                            </ul>
                        </li>
                        <li>
                            <a href=@Url.Action("DisplayAll","Thread")>Forum</a>
                        </li>
                        <li>
                            @Html.ActionLink("All Games", "Index", "Game")
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                @Html.ActionLink(User.Identity.Name, "ProfilePage", "Profile")
                            </li>
                            <li>
                                @Html.ActionLink("Messages", "UserConversations", "Conversation")
                            </li>
                            <li>
                                @Html.ActionLink("Find Friends", "Index", "Relationship")
                            </li>
                            <li>
                                @Html.ActionLink("Log Out", "LogOut", "Account")
                            </li>
                            <li>
                                 @Html.ActionLink("Add Game", "AddGame", "Game")
                            </li>
                           @RenderSection("Edit", false)
                               
                            
                        }
                        else
                        {
                            <li>
                                @Html.ActionLink("Register", "Register", "Account")
                            </li>
                            <li>
                                @Html.ActionLink("Login", "Login", "Account")
                            </li>
                        }
                        <li>
                            <a href=@Url.Action("Indx","Error")>Error</a>
                        </li>
                        <li id="searchBar">
                            <form method="POST" class="navbar-form" role="search"  action=@Url.Action("SearchGames", "Game")>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search Games" name="gameTitle" value="@ViewBag.GameTitle">
                                </div>
                                <button type="submit" class="btn btn-default">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </form>

                            @*                           @using (Html.BeginForm("SearchGames", "Home"))
                            {
                                <textarea></textarea>
                                <input type="submit" class="btn btn-default"/>
                            }*@

                        </li>


                    </ul>

                </div>
            </div>
        </nav>
    </div>

    <div id="bodyDiv">

        @RenderBody()
    </div>
</body>
</html>
