﻿
@model int


@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProfilePage</title>
</head>
<body>
    <div>
        User ID = @Model
        <h1>THIS WORKS. WE ARE ON THE PROFILE PAGE</h1>
    </div>
</body>
</html>
