﻿@model string
@{
    ViewBag.Title = "Whoops!";
}

<div>
    @if (@Model != null)
    {
        
        <div class="alert alert-danger">

            <h4>
                <span class="glyphicon glyphicon-exclamation-sign"> </span>@Model
                     <a class="alert-link" href="@Url.Action("Index", "Home")">Click Here To Return Home.</a>
               
           
            </h4>
            

        </div>
    }
    else
    {
        <div class="alert alert-danger">
            <span class="glyphicon glyphicon-exclamation-sign">Whoops looks like there's an issue.</span>
        </div>
    }

</div>
