﻿@model ProjectOSG.ViewModel.MessageVM
<div class="panel panel-default">
    <div class="panel-b">
        <p class="postDate">@Model.Timestamp</p>
        <br>
        @if (Model.sentBy == User.Identity.Name)
        {
            <p class="postMessage">
                Me : @Model.content

            </p>
        }
        else
        {
            <p class="postMessage">
                @Model.sentBy : @Model.content
            </p>
        }
    </div>
</div>
