﻿@model ProjectOSG.ViewModel.MessageVM
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Layout/_MainLayout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Conversation</legend>
        <div class="editor-label">
            @Html.HiddenFor(model=>model.convoID)
        </div>
        <div class="editor-label">
            @Html.HiddenFor(model=>model.read)
        </div>
        <div class="editor-label">
            @Html.HiddenFor(model=>model.sentBy)
        </div>
        <div class="editor-label">
            @Html.HiddenFor(model=>model.Timestamp)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model=>model.content)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model=>model.content, 10, 55, null)
            @Html.ValidationMessageFor(model=>model.content)
        </div>
        <p>
            <input type="submit" value="Send" />
        </p>
    </fieldset>
}