﻿@model IEnumerable<ProjectOSG.ViewModel.MessageVM>
@{
    ViewBag.Title = "Messages";
}

@foreach (var mes in Model)
{
    Html.RenderPartial("~/Views/Message/_MessagePartial.cshtml", mes);
}


<button class="btn btn-primary" data-toggle="modal" data-target="#replyMessage">Reply</button>
<div class="modal fade" id="replyMessage" tabindex="-1" role="dialog" aria-labelledby="replyMessageLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="replyMessageLabel">Reply</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Create", "Message"))
                {

                    @Html.ValidationSummary();
                    <div class="form-horizontal">
                        <label for="replyMessageDescription">Content</label>
                        <textarea required class="form-control" id="replyMessageDescription" placeholder="Enter Description" name="content"></textarea>
                        <input type="hidden" name="convoID" />
                        <input type="hidden" name="read" />
                        <input type="hidden" name="sentBy"/>
                        <input type="hidden" name="Timestamp"/>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span></button>
                        </div>
                    </div>
                }

            </div>

        </div>
    </div>
</div>
