﻿@using ProjectOSG.Controllers
@model ProjectOSG.Models.Game
<div>

    <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseGameDetials">Game Details
                    </a>
                </h3>
            </div>
        <div id="collapseGameDetials" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="gamesDetials">
                    <p>Title : @Model.Title</p>
                    <p>
                        Rating : 
                        @{
                            int rating = (int)Model.Rating;
                            for (int i = 0; i < ((int)Model.Rating); i++)
                             {
                                 <span class="glyphicon glyphicon-star"></span>
                             }
                        }
                    </p>
                    <p>Release Date : @Model.ReleaseDate</p>
                    <p>Play Count : @Model.PlayCount</p>
                    <p>
                        Tags :
                        @foreach (var t in GameTagController.GetTagsBelongingToGame(Model.Id))
                        {
                            <span class="gameTag">@t.TagType </span>
                        }
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>
