﻿
@model IEnumerable<ProjectOSG.Models.Game>

<div>

    <div class="panel panel-default">
        <div class="panel-heading">
   
            <h2><a href=@Url.Action(@ViewBag.Link,"Home") class="gamePanelLink">@ViewBag.PanelTitle</a></h2>
        </div>
        <div class="panel-body" >
            <div class="gamesList">
                
                @foreach(var g in @Model){
                    Html.RenderPartial("Partial/_GamePartial",g);
                }
            </div>
        </div>
    </div>
</div>
