﻿@model ProjectOSG.Models.Post


<div class="panel panel-default">
    <div class="panel-b">
        <p class="postDate">@Model.PostDate.ToString()</p>
        <br>
        <p class="postMessage">@Model.Username : @Model.Message</p>
    </div>
</div>

