﻿@using ProjectOSG.Models
@model ProjectOSG.Models.Thread

<div>
    <h3>
        <a class="forumTopic" href=@Url.Action("DisplayAll", "Post", new { threadId = @Model.Id })>@Model.TopicName</a>
    </h3>
    <p>@Model.Description</p>
</div>
