﻿
@model IEnumerable<ProjectOSG.Models.Thread>

<div>
    <div class="panel panel-default">
        <div class="panel-heading">   
            <h2>Forum</h2>
        </div>
        <div class="panel-body" >
            @foreach (var topic in @Model)
            {
                Html.RenderPartial("~/Views/Shared/Partial/_ThreadPartial.cshtml", topic);
            }
        </div>
    </div>
</div>
