﻿/**
    red : a11
    white : FFF
    black : 000
    grey : ebebeb
    */


body {
    background: #EBEBEB;
    color: #a11;
}


#featuredGameCarousel .carousel-inner {
    width: 200px;
    height: 200px;
}

.singleGame {
    display: inline;
    float: left;
    height: 200px;
    width: 100px;
    margin-left: 30px;
}

.gameArea {
    width: 500px;
    height: 300px;
    border: black 2px dotted;
    margin: 0 auto;
}

.gameHeader {
    text-align: center;
}

.panel-heading > h2 > a:hover,
.panel-heading > h2 > a:focus,
.gameLink:hover,
.gameLink:focus ,
.forumTopic:hover,
.forumTopic:focus
{
    color: #a11;
    text-decoration: none;
}

.panel-heading > h2 > a,
.gameLink,
.forumTopic {
    color: #000;
    
}


.gameTag {
    border: black 2px solid;
}

#bodyDiv {
    margin: 0 15%;
}

#upVote {
    
}
#downVote {
    position: relative;
    float: right;
}
