﻿@model OSG.Models.Game

@{
    ViewBag.Title = @Model.Title;
}

<div>
    <h2 class="gameHeader">@Model.Title</h2>
    <div class="gameArea">
    </div>
    <div>
        <a href="#"><span id="upVote" class="glyphicon glyphicon-thumbs-up">Upvote</span></a>
        <a href="#"><span id="downVote" class="glyphicon glyphicon-thumbs-down">Downvote</span></a>
        
    </div>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Instructions
                    </a>
                </h3>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    @Model.Instructions
                </div>
            </div>
        </div>
    </div>
    @{Html.RenderPartial("Partial/_GameDetails", @Model);}
</div>



