﻿@using System.Collections
@using System.Web.UI.WebControls
@using OSG.Models
@model HomePageGames
@{
    ViewBag.Title = "Home";
}

<div id="featuredGameCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#featuredGameCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#featuredGameCarousel" data-slide-to="1"></li>
        <li data-target="#featuredGameCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item active">
            <div class="glyphicon glyphicon-exclamation-sign"></div>

        </div>
        <div class="item">
            <div class="glyphicon glyphicon-exclamation-sign"></div>
        </div>
        <div class="item">
            <div class="glyphicon glyphicon-exclamation-sign"></div>
        </div>

    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#featuredGameCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#featuredGameCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
<div>
 
    @{
        ViewBag.Link = "MostPlayed";
        ViewBag.PanelTitle = "Most Played";
        Html.RenderPartial("Partial/_GamesPartial", @Model.MostPlayed);
    }
 
    @{
        ViewBag.Link = "TopRated";
        ViewBag.PanelTitle = "Top Rated";
        Html.RenderPartial("Partial/_GamesPartial", @Model.TopRated);
    }

    @{
        ViewBag.Link = "NewGames";
        ViewBag.PanelTitle = "New Games";
        Html.RenderPartial("Partial/_GamesPartial", @Model.NewGames);
    }


</div>