﻿@model ProjectOSG.Models.Conversation
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Layout/_MainLayout.cshtml";
}

<h2>Start a Conversation</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Conversation</legend>
        <div class="editor-label">
            @Html.HiddenFor(model=>model.fromUserID)
        </div>
        <div class="editor-label">
            To User:
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model=>model.tempTo, new SelectList(ProjectOSG.Controllers.RelationshipController.GrabFriends(Model.fromUserID)))
            @Html.ValidationMessageFor(model=>model.tempTo)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model=>model.Subject)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model=>model.Subject)
            @Html.ValidationMessageFor(model=>model.Subject)
        </div>
        <p>
            <input type="submit" value="Create Conversation" />
        </p>
    </fieldset>
}