﻿@model IEnumerable<ProjectOSG.Models.Conversation>

@{
    ViewBag.Title = "UserConversations";
    Layout = "~/Views/Shared/Layout/_MainLayout.cshtml";
}

<h2>Your Conversations</h2>

@Html.ActionLink("Start a New Conversation", "Create", "Conversation")

<table>
    @foreach (var data in Model)
    {
        <tr>
            <th>
                @Html.ActionLink("Subject: " + data.Subject, "LookAtConversation", "Conversation", new { id = data.conversationID }, null)
            </th>
            <td>
                
            </td>
            <td>
                From: @ProjectOSG.Controllers.UserController.GrabName(data.fromUserID)
            </td>
            <td>
                <p>

                </p>
            </td>
            <td>
                To: @ProjectOSG.Controllers.UserController.GrabName(data.toUserID)
            </td>
        </tr>
    }
</table>